<!doctype html>
<html>
	<head>
		<title></title>
        <script type="text/javascript" src="js/jquery-1.4.3.min.js"></script>
        <script type="text/javascript" src="js/jquery.json-2.2.min.js"></script>
        <script type="text/javascript" src="js/Comm.js"></script>
        <script type="text/javascript" src="js/page_Test.js"></script>
<style type="text/css">
html, body, div, h1, h2, h3, h4, h5, h6, p, img, dl, dt, dd, ol, ul, li, table, caption, tbody, tfoot, thead, tr, th, td, form, fieldset, embed, object, applet {
    border: 0;
    margin: 0;
    padding: 0;
    cursor: default;
}
.Title{ height:20px; background-color:Blue;}
</style>
	</head>
	<body>
    <div id="title" class="Title">这里是标题</div>
	<a href="#" onclick="WinForm.ExternalCall('FormMinSize');">最小化</a>
	<a href="#" onclick="WinForm.ExternalCall('FormMaxSize');">最大化</a>
	<a href="#" onclick="WinForm.ExternalCall('FormNormalSize');">标准</a>
	<a href="#" onclick="WinForm.ExternalCall('FormClose');">关闭</a>
    <a href="#" onclick="WinForm.ExternalCall('Test');">关闭</a>
    <br />
    我是Webkit来的啊ss<br />

	</body>
</html>