html, body, div, h1, h2, h3, h4, h5, h6, p, img, dl, dt, dd, ol, ul, li, table, caption, tbody, tfoot, thead, tr, th, td, form, fieldset, embed, object, applet {
    border: 0;
    margin: 0;
    padding: 0;
    cursor: default;
}

body{ background-color:#FFFFFE;overflow:hidden;}