<!DOCTYPE HTML>
<html>
	<head>
		<title></title>
        <link type="text/css" href="css/base.css" rel="stylesheet" />
        <link type="text/css" href="css/page_Login.css" rel="stylesheet" />
        <script type="text/javascript" src="js/jquery-1.4.3.min.js"></script>
        <script type="text/javascript" src="js/jquery.json-2.2.min.js"></script>
        <script type="text/javascript" src="js/Comm.js"></script>
        <script type="text/javascript" src="js/page_Login.js"></script>
	</head>
	<body>
        <div id="WebForm">
        <div id="TitleBar">
            <div id="Title">title</div>
            <div id="CloseButton">X</div>
            <div id="MaxButton">口</div>
            <div id="MinButton">_</div>
        </div><br />
        账号:<input  type="text" id="txtUserName" value="" /><br />
        密码:<input type="password" id="txtUserPwd" value="" /><br />
        <button id="btnLogin">登录</button>
        </div>
	</body>
</html>