<!DOCTYPE HTML>
<html>
	<head>
		<title></title>
        <link type="text/css" href="css/base.css" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="js/easyui/themes/gray/easyui.css"/>
	    <link rel="stylesheet" type="text/css" href="js/easyui/themes/icon.css"/>
        <link type="text/css" href="css/page_Login.css" rel="stylesheet" />
        <script type="text/javascript" src="js/jquery-1.4.3.min.js"></script>
        <script type="text/javascript" src="js/jquery.json-2.2.min.js"></script>
        <script type="text/javascript" src="js/easyui/jquery.easyui.min.js"></script>
        <script type="text/javascript" src="js/Comm.js"></script>
        <script type="text/javascript" src="js/page_Login.js"></script>
	</head>
	<body onselectstart="return false;">
    <div id="win" title="STalk">
        <div class="loginBanner">banner</div>
        <div class="loginForm">
            <div class="login_field">账号:<input type="text" id="txtUserName" value="" /></div>
            <div class="login_field">密码:<input type="password" id="txtUserPwd" value=""/></div>
            <div><input type="submit" id="btnLogin" value="登录"/></div>
        </div>
	</div>
	</body>
</html>