<!DOCTYPE HTML>
<html>
	<head>
		<title></title>
        <link type="text/css" href="css/base.css" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="js/easyui/themes/gray/easyui.css"/>
	    <link rel="stylesheet" type="text/css" href="js/easyui/themes/icon.css"/>
        <link type="text/css" href="css/page_Main.css" rel="stylesheet" />
        <script type="text/javascript" src="js/jquery-1.4.3.min.js"></script>
        <script type="text/javascript" src="js/jquery.json-2.2.min.js"></script>
        <script type="text/javascript" src="js/easyui/jquery.easyui.min.js"></script>
        <script type="text/javascript" src="js/Comm.js"></script>
        <script type="text/javascript" src="js/page_Main.js"></script>
	</head>
	<body onselectstart="return false;">
    <div id="win" title="STalk">
        <div id="frmMain" style="width:100%;height:100%;">
            <!--顶部固定-->
            <div region="north" split="false" border="false" style="height:70px;background:#99FF00;">
                <div id="frmTop"  style="height:70px;">
                    <div region="west" split="false" border="false" style="height:70px;width:60px;">头像</div>
                    <div region="center" split="false" border="false"  style="height:20px; background:#eee;">名字状态签名</div>  
                    <div region="south" split="false" border="false" style="height:20px;width:100%;background-color:Olive;">搜索</div>
                </div>
            </div>
             <!--中间自适应-->
            <div region="center" split="false" border="false"  style="background:#eee;">
                <!--中间分左右2栏 左边固定-->
                <div id="frmCenter" style="width:100%;height:100%;">
                    <!--左边按钮-->
                    <div id="frmTabs" region="west" split="false" border="false" style="height:100%;width:35px; background-color:Aqua;">
                        <a href="#" onclick="switchTab('STalkPanel');">stalk</a><br />
                        <a href="#" onclick="switchTab('MsnPanel');">msn</a><br />
                        <a href="#" onclick="switchTab('GTalkPanel');">gtalk</a><br />
                    </div>
                    <!--中间区域切换各种-->
                    <div id="frmTabsPanel" region="center" split="false" border="false" style="height:100%;width:100%;">
                        <div id="STalkPanel" style="height:100%;width:100%;">
                            <div region="north" split="false" border="false" style=" height:25px; width:100%">好友 群 最近联系人</div>
                            <div region="center" split="false" border="false" style="height:100%; width:100%">
                                <div id="STalk_Firend_Panel">
                                    <ul id="STalk_Firend_Panel_List"></ul>
                                </div>
                                <div id="STalk_Group_Panel" style="display:none;">群</div>
                                <div id="STalk_LastContact_Panel" style="display:none;">最近联系人</div>
                            </div>
                        </div>
                        <div id="MsnPanel" style="height:100%;width:100%; display:none;"><a href="#">msn</a></div>
                        <div id="GTalkPanel" style="height:100%;width:100%;display:none;"><a href="#">GTalk</a></div>
                    </div>
                </div>
            </div>
            <!--底部固定-->
            <div region="south"  split="false" border="false"  style="height:50px;background:#FFFF66;">底部菜单，查找，添加</div>
        </div>
	</div>
	</body>
</html>