<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--数据库供应-->
    <add key="DataProvider" value="STalk.MSSQLProvider"/>
    <!--ServerName 提供JabberID @ 后面的服务器名字-->
    <add key="ServerName" value="im1.stalk.com"/>
    <!--监听的IP-->
    <add key="ServerIP" value="0.0.0.0"/>
    <!--监听端口-->
    <add key="ServerPort" value="5222"/>
    <!--最大连接数-->
    <add key="MaxConnections" value="1000"/>
    <!--其他IM服务器阵列 xxx.xxx.xxx.xxx:port|xxx.xxx.xxx.xxx:port-->
    <add key="IMServer" value=""/>
  </appSettings>
  <connectionStrings>
    <add name="MSSQL" connectionString="server=(local);user id=sa;password=szdcboy;database=STalk;min pool size=4;max pool size=4;packet size=3072"/>
  </connectionStrings>
</configuration>